# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [4]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
# 標籤編碼 + 羅吉斯迴歸

"""
Your Code Here
"""
df_tmp = pd.DataFrame()
for c in df.columns:
    df_tmp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_tmp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(train_X.shape)
print(cross_val_score(estimator,train_X,train_Y,cv=5).mean())
print(time.time()-start)

(891, 5)
0.780004837244799
0.04804682731628418

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [9]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat((df[:train_num],train_Y),axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

       0        Cabin Embarked  \
0    NaN         None        S
1    NaN          C85        C
2    NaN         None        S
3    NaN         C123        S
4    NaN         None        S
5    NaN         None        Q
6    NaN          E46        S
7    NaN         None        S
8    NaN         None        S
9    NaN         None        C
10   NaN           G6        S
11   NaN         C103        S
12   NaN         None        S
13   NaN         None        S
14   NaN         None        S
15   NaN         None        S
16   NaN         None        Q
17   NaN         None        S
18   NaN         None        S
19   NaN         None        C
20   NaN         None        S
21   NaN          D56        S
22   NaN         None        Q
23   NaN           A6        S
24   NaN         None        S
25   NaN         None        S
26   NaN         None        C
27   NaN  C23 C25 C27        S
28   NaN         None        Q
29   NaN         None        S
..   ...          ...      ...
861  0.0          NaN      NaN
862  1.0          NaN      NaN
863  0.0          NaN      NaN
864  0.0          NaN      NaN
865  1.0          NaN      NaN
866  1.0          NaN      NaN
867  0.0          NaN      NaN
868  0.0          NaN      NaN
869  1.0          NaN      NaN
870  0.0          NaN      NaN
871  1.0          NaN      NaN
872  0.0          NaN      NaN
873  0.0          NaN      NaN
874  1.0          NaN      NaN
875  1.0          NaN      NaN
876  0.0          NaN      NaN
877  0.0          NaN      NaN
878  0.0          NaN      NaN
879  1.0          NaN      NaN
880  1.0          NaN      NaN
881  0.0          NaN      NaN
882  0.0          NaN      NaN
883  0.0          NaN      NaN
884  0.0          NaN      NaN
885  0.0          NaN      NaN
886  0.0          NaN      NaN
887  1.0          NaN      NaN
888  0.0          NaN      NaN
889  1.0          NaN      NaN
890  0.0          NaN      NaN

                                                  Name     Sex  \
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
5                                     Moran, Mr. James    male
6                              McCarthy, Mr. Timothy J    male
7                       Palsson, Master. Gosta Leonard    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  female
10                     Sandstrom, Miss. Marguerite Rut  female
11                            Bonnell, Miss. Elizabeth  female
12                      Saundercock, Mr. William Henry    male
13                         Andersson, Mr. Anders Johan    male
14                Vestrom, Miss. Hulda Amanda Adolfina  female
15                    Hewlett, Mrs. (Mary D Kingcome)   female
16                                Rice, Master. Eugene    male
17                        Williams, Mr. Charles Eugene    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19                             Masselmani, Mrs. Fatima  female
20                                Fynney, Mr. Joseph J    male
21                               Beesley, Mr. Lawrence    male
22                         McGowan, Miss. Anna "Annie"  female
23                        Sloper, Mr. William Thompson    male
24                       Palsson, Miss. Torborg Danira  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female
26                             Emir, Mr. Farred Chehab    male
27                      Fortune, Mr. Charles Alexander    male
28                       O'Dwyer, Miss. Ellen "Nellie"  female
29                                 Todoroff, Mr. Lalio    male
..                                                 ...     ...
861                                                NaN     NaN
862                                                NaN     NaN
863                                                NaN     NaN
864                                                NaN     NaN
865                                                NaN     NaN
866                                                NaN     NaN
867                                                NaN     NaN
868                                                NaN     NaN
869                                                NaN     NaN
870                                                NaN     NaN
871                                                NaN     NaN
872                                                NaN     NaN
873                                                NaN     NaN
874                                                NaN     NaN
875                                                NaN     NaN
876                                                NaN     NaN
877                                                NaN     NaN
878                                                NaN     NaN
879                                                NaN     NaN
880                                                NaN     NaN
881                                                NaN     NaN
882                                                NaN     NaN
883                                                NaN     NaN
884                                                NaN     NaN
885                                                NaN     NaN
886                                                NaN     NaN
887                                                NaN     NaN
888                                                NaN     NaN
889                                                NaN     NaN
890                                                NaN     NaN

               Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
5              330877
6               17463
7              349909
8              347742
9              237736
10            PP 9549
11             113783
12          A/5. 2151
13             347082
14             350406
15             248706
16             382652
17             244373
18             345763
19               2649
20             239865
21             248698
22             330923
23             113788
24             349909
25             347077
26               2631
27              19950
28             330959
29             349216
..                ...
861               NaN
862               NaN
863               NaN
864               NaN
865               NaN
866               NaN
867               NaN
868               NaN
869               NaN
870               NaN
871               NaN
872               NaN
873               NaN
874               NaN
875               NaN
876               NaN
877               NaN
878               NaN
879               NaN
880               NaN
881               NaN
882               NaN
883               NaN
884               NaN
885               NaN
886               NaN
887               NaN
888               NaN
889               NaN
890               NaN

[1782 rows x 6 columns]